/FreshCoffee/.phpunit.cache
/FreshCoffee/node_modules
/FreshCoffee/public/build
/FreshCoffee/public/hot
/FreshCoffee/public/storage
/FreshCoffee/storage/*.key
/FreshCoffee/storage/pail
/FreshCoffee/vendor
/FreshCoffee/.env
/FreshCoffee/.env.backup
/FreshCoffee/.env.production
/FreshCoffee/.phpactor.json
/FreshCoffee/.phpunit.result.cache
/FreshCoffee/Homestead.json
/FreshCoffee/Homestead.yaml
/FreshCoffee/npm-debug.log
/FreshCoffee/yarn-error.log
/FreshCoffee/auth.json
/FreshCoffee/.fleet
/FreshCoffee/.idea
/FreshCoffee/.nova
/FreshCoffee/.vscode
/FreshCoffee/.zed

